@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-smooth: auto;
     /* border: red solid 1px; */
}

div {
    scrollbar-gutter: stable;
}

*:focus {
    outline: none;
}

:root {
    font-size: 62.5%;

    --primary: theme('colors.primary');
    --secondary: theme('colors.secondary');
    --accent: theme('colors.accent');

    --success: theme('colors.success');
    --error: theme('colors.error');

    --text-primary: theme('colors.txt-primary');
    --text-secondary: theme('colors.txt-secondary');

    color: var(--text-primary);
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* select all number input */
input[type=number],
input[type=text] {
    @apply text-txt-primary transition-all duration-300 ease-in-out hover:brightness-125 font-semibold text-[1.6vh] border border-secondary/50 bg-primary/50 text-center;
}

input::selection {
    background: #8685ef80;
}

.btn-base {
    @apply transition-all duration-300 ease-in-out hover:brightness-125;
}

button.btn,
.btn {
    @apply bg-primary/50 border border-secondary/50 transition-all duration-300 ease-in-out hover:brightness-125;
}

button:disabled,
.btn:disabled {
    @apply brightness-50;
}

::-webkit-scrollbar {
    @apply w-[0.5vh] h-[0.5vh] bg-primary/80
}

/* Track */
::-webkit-scrollbar-track {
    @apply hidden
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-accent
}

.parent-container {
    position: relative;
    /* Ensure the parent container is positioned */
}

.absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-solid {
    background: radial-gradient(at 50% top, var(--primary) 50%, black); 
}